<div
    style="background-color: #333; height: 100vh; padding: 10px">
    <% if @audios.empty? %>
        Nao ha audios por enquanto
    <% else %>
        
<div class="columns" style="padding: 30px; background-color: #555; height: 110vh">
   <div class="column">
      <div 
          class="box is-dark" 
          style="background-color: #333">
          <div class="columns is-multiline">
              <% @audios.each do |audio| %>
                <%= render "layouts/components/audio", audio: audio %>
              <% end %>
              <%= paginate @audios %>
          </div>
      </div> 
   </div> 
</div>
    <% end %>

</div>

