<div
    style="background-color: #333; height: 100vh; padding: 10px">
    <%= paginate @audios %>
    <% if @audios.empty? %>
        Nao ha audios por enquanto
    <% else %>
        
        <div class="columns is-multiline">
            <% @audios.each do |audio|%>
                <%= render "layouts/components/audio", audio: audio %>
            <% end %>
        </div>
    <% end %>

</div>

