<div
    style="background-color: #333; padding: 10px">
    <% if @audios.empty? %>
        Nao ha audios por enquanto
    <% else %>
        
        <div class="columns is-multiline">
            <% @audios.each do |audio|%>
                <%= render "layouts/components/audio", audio: audio %>
            <% end %>
        </div>
        <% end %>
</div>

