<%= render "audios/components/form" %>
<div class="columns" style="padding: 30px; background-color: #555; height: 110vh">
   <div class="column">
      <div 
          class="box is-dark" 
          style="background-color: #333">
          <div class="columns is-multiline">
              <button 
                  class="button is-small is-fullwidth is-info modal-button"
                  data-target="modal-ter"
                >
                  <i class="fas fa-plus"></i> <span>adicionar audio</span>
              </button>
              
              <% @audios.each do |audio| %>
                <%= render "layouts/components/audio", audio: audio %>
              <% end %>
              <%= paginate @audios %>
          </div>
      </div> 
   </div> 
</div>
<script charset="utf-8">
    const openModalButton = document.querySelector('.modal-button') 
    const modal = document.querySelector(".modal");

    openModalButton.onclick = function (event) {
        if(modal.style.display == 'none' || modal.style.display == '') {
            modal.style.display = 'block';
        }
    }
</script>
