<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <h1>Bem vindo ao drook, <%= @user.name%>!</h1>
        <p>Obrigado por se cadastrar, para logar, acesse <a href="<%= @url %>">drook.com</a> </p>
    </body>
</html>
